{cover_enabled, true}.

{erl_opts, [{platform_define, "R1[6-9]B", 'binary_integer_bifs'}]}.
{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{deps, [
    {gun, ".*", {git, "git://github.com/ninenines/gun.git", {branch, "master"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx", {tag, "2.8.1"}}},
    {base64url, ".*", {git, "git://github.com/dvv/base64url", {branch, "master"}}}
]}.

{eunit_opts, [
  {skip_deps, true},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.

{cover_enabled, true}.
{ct_log_dir, "test/logs"}.
{clean_files, ["test/logs", "test/*.beam"]}.
