[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

  {lager, [
    {lager_console_backend, info},
    {error_logger_redirect, true},
    {crash_log, "log/apns_crash.log"},
    {handlers, [
      {lager_file_backend, [
        {file, "log/apns_error.log"},
        {level, error},
        {size, 1048576000},
        {date, "$D0"},
        {count, 5}
      ]},
      {lager_file_backend, [
        {file, "log/apns_info.log"},
        {level, info},
        {size, 1048576000},
        {date, "$D0"},
        {count, 10}
      ]},
      {lager_file_backend, [
        {file, "log/apns_debug.log"},
        {level, debug},
        {size, 10485760},
        {date, "$D0"},
        {count, 5}
      ]}
    ]}
  ]},

  {
    apns,
    [ {apple_host,       "api.development.push.apple.com"}
      , {apple_port,       443}
      , {certfile,         "/media/psf/Home/code/latest_local_ubuntu_yunba_server/apns/priv/apns-dev-cert.pem"}
      , {keyfile,          "/media/psf/Home/code/latest_local_ubuntu_yunba_server/apns/priv/apns-dev-cert.pem"}
      , {token_keyfile,    "priv/APNsAuthKey_KEYID12345.p8"}
      , {timeout,          10000}

      %% APNs Headers

      , {apns_id,          undefined}
      , {apns_expiration,  0}
      , {apns_priority,    10}
      , {apns_topic,       "com.example.myapp"}
      , {apns_collapse_id, undefined}

      %% Feedback
      , {feedback_host,    "feedback.push.apple.com"}
      , {feedback_port,    2195}
    ]
  }
].


%%  , {token_keyfile,    "priv/APNsAuthKey_KEYID12345.p8"} 不用
%%
%%  %% APNs Headers
%%
%%  , {apns_id,          undefined} 运行时
%%  , {apns_expiration,  0} 运行时
%%  , {apns_priority,    10} 运行时
%%  , {apns_topic,       "com.example.myapp"} 运行时
%%  , {apns_collapse_id, undefined} 运行时
%%
%%  %% Feedback
%%]
